bdfparser==2.2.0
certifi==2021.5.30
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
feedparser==5.2.1
geojson==2.3.0
idna==2.10
imageio==2.9.0
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.4.2
mlbgame==2.5.0
networkx==2.5.1
numpy==1.20.3
Pillow==8.2.0
pygame==1.9.6
pyowm==2.9.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
requests==2.25.1
RGBMatrixEmulator==0.4.0
scikit-image==0.18.1
scipy==1.6.3
six==1.16.0
tifffile==2021.6.14
tzlocal==2.1
urllib3==1.26.5
